<mat-form-field class="w-full" appearance="outline">
  <mat-label>{{label}}</mat-label>
  <input matInput
         [disableClick]="true"
         [format]="24"
         [formControl]="control"
         [ngxMatTimepicker]="picker"
  />
  <mat-icon matSuffix
            (click)="picker.open()">
    watch_later
  </mat-icon>
</mat-form-field>
<ngx-mat-timepicker [disableAnimation]="true" color="primary" #picker></ngx-mat-timepicker>

