<div class="grid grid-cols-12 pt-10">
  <span class="col-span-10 col-start-2 text-7xl text-center">Un crime presque parfait</span>
</div>

<div class="grid grid-cols-12 gap-4 sm:pt-52 pt-20">
  <mat-card class="sm:col-span-5 col-span-10 sm:col-start-2 col-start-2" >
    <mat-card-content>
      <app-date-picker label="Date" [control]="date" [list]="Object.values(EnumDate)"></app-date-picker>
      <app-time-picker label="Heure" [control]="time"></app-time-picker>
    </mat-card-content>
    <mat-card-actions class="justify-center">
      <button mat-raised-button color="primary" (click)="onSubmit()">Envoyer</button>
    </mat-card-actions>
  </mat-card>
  <mat-card class="sm:col-span-5 col-span-10 col-start-2">
    <mat-card-content>
      <p>Prédiction:</p>
      <p>{{prediction}}</p>
    </mat-card-content>
  </mat-card></div>
