<mat-form-field class="w-full" appearance="outline">
  <mat-label>Date</mat-label>
  <mat-select [formControl]="control">
    <mat-select-trigger>
      {{control.value}}
    </mat-select-trigger>
    <mat-option *ngFor="let el of list" [value]="el">{{el}}</mat-option>
  </mat-select>
</mat-form-field>
